/* estilos para el toor */
.driver-popover.theme1 {
	background-color: rgb(69, 204, 204);
}

.driver-popover-title {
	color: white;
	font-size: 24px !important;
	text-align: center;
}

.driver-popover-description {
	color: black;
	font-size: 24px !important;
	font-weight: bold !important;
	text-align: center;
	letter-spacing: 2px;
}

.driver-popover-arrow-side-right.driver-popover-arrow {
	/* oculto la flechita del tooltip */
	border-right-color: transparent !important;
}
.driver-popover-arrow-side-left.driver-popover-arrow {
	/* oculto la flechita del tooltip */
	border-left-color: transparent !important;
}
.driver-popover-arrow-side-top.driver-popover-arrow {
	/* oculto la flechita del tooltip */
	border-top-color: transparent !important;
}
.driver-popover-arrow-side-bottom.driver-popover-arrow {
	/* oculto la flechita del tooltip */
	border-bottom-color: transparent !important;
}



.driver-active-element {}

.driver-overlay {}

/* Close button displayed on the top right corner */
.driver-popover-close-btn {
	display: none;
}

/* Footer of the popover displaying progress and navigation buttons */
.driver-popover-footer {}

.driver-popover-progress-text {}

.driver-popover-prev-btn {}

.driver-popover-next-btn {}